[{:first-name "Nick"
  :last-name "Fury"
  :gender "male"
  :favorite-color "black"
  :date-of-birth "12/21/1948"}
 {:first-name "Peter"
  :last-name "Parker"
  :gender "male"
  :favorite-color "red"
  :date-of-birth "11/29/1964"}
 {:first-name "Tony"
  :last-name "Stark"
  :gender "male"
  :favorite-color "gold"
  :date-of-birth "4/4/1965"}
 {:first-name "Pepper"
  :last-name "Potts"
  :gender "female"
  :favorite-color "purple"
  :date-of-birth "9/27/1972"}
 {:first-name "James"
  :last-name "Rhodes"
  :gender "male"
  :favorite-color "gray"
  :date-of-birth "11/29/1964"}
 {:first-name "Thor"
  :gender "male"
  :favorite-color "gold"
  :date-of-birth "8/11/1983"}
 {:first-name "Steve"
  :last-name "Rogers"
  :gender "male"
  :favorite-color "blue"
  :date-of-birth "6/13/1981"}
 {:first-name "Bucky"
  :last-name "Barnes"
  :gender "male"
  :favorite-color "silver"
  :date-of-birth "8/13/1982"}
 {:first-name "Natasha"
  :last-name "Romanoff"
  :gender "female"
  :favorite-color "black"
  :date-of-birth "9/22/1984"}
 {:first-name "Clint"
  :last-name "Barton"
  :gender "male"
  :favorite-color "purple"
  :date-of-birth "1/7/1971"}
 {:first-name "Bruce"
  :last-name "Banner"
  :gender "male"
  :favorite-color "green"
  :date-of-birth "11/22/1967"}
 {:first-name "T'Challa"
  :gender "male"
  :favorite-color "black"
  :date-of-birth "11/29/1977"}
 {:first-name "Shuri"
  :gender "female"
  :favorite-color "purple"
  :date-of-birth "10/31/1993"}
 {:first-name "Stephen"
  :last-name "Strange"
  :gender "male"
  :favorite-color "orange"
  :date-of-birth "7/19/1976"}
 {:first-name "Scott"
  :last-name "Lang"
  :gender "male"
  :favorite-color "silver"
  :date-of-birth "4/6/1969"}
 {:first-name "Dyne"
  :last-name "Hope"
  :gender "female"
  :favorite-color "yellow"
  :date-of-birth "8/3/1979"}
 {:first-name "Peter"
  :last-name "Quil"
  :gender "male"
  :favorite-color "yellow"
  :date-of-birth "6/21/1979"}]

